body {
    background-color:cornsilk;
}

#home-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #3D3C3A;
    margin: -10px;
    margin-top: -20px;
}

.centre-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    color: #3D3C3A;
    margin: 10px;
    margin-top: -100px;
}
#contact-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    color: #3D3C3A;
    margin: 10px;
    margin-top: -30px;
}
.contact-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 17px;
    text-align: center;
    color: #3D3C3A;
    margin-bottom: 50px;
}

.main-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #3D3C3A;
    font-size: 25px;
    text-align: center;
}
.nimesh-govind {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #3D3C3A;
    font-size: 25px;
    text-align: center;
}
.dev-academy-student {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #3D3C3A;
    padding-top: -20px;
    text-align: center;
    margin-top: -20px;
}
.page-titles {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: right;
    color: #3D3C3A;
    margin: 20px;
    padding: 0px;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: -10px;
}
.nav-items {
    display: flex;
    float: right;
    padding-right: 10em;
}
.img-profile-photo {
    width: 300px;
}
#img-profile-photo {
    padding-left: 220px;
    padding-top: 0px;
}

@media (max-width: 320px) {
    #home-title {
        width: 0%;
        zoom: 45%;
        padding-left: 150px;
    }
    .centre-title {
        width: 100%;
        zoom: 53%;
        padding-left: 100px;
    }
    .nav-items {
        width: 100%;
        zoom: 90%;
        padding-right: 0px;
    }
    .main-text {
        width: 100%;
        padding-left: -15px;
        zoom: 115%;
        margin-top: 10px;
    }
    .nimesh-govind {
        width: 100%;
        padding-left: 100px;
        zoom: 150%;
    }
    .dev-academy-student {
        width: 100%;
        padding-left: 150px;
        zoom: 150px;
    }
    #contact-title {
        width: 100%;
        padding-left: 135px;
    }
    .contact-text {
        width: 100%;
       padding-left: -200px;
    }
}

@media (max-width: 768px) {
    #home-title {
        width: 0%;
        zoom: 50%;
        padding-left: 350px;
    }
    .centre-title {
        width: 100%;
        zoom: 53%;
        padding-left: 300px;
        text-align: left;
    }
    .nav-items {
        width: 100%;
        zoom: 90%;
        padding-right: 0px;
    }
    .main-text {
        width: 100%;
        zoom: 115%;
    }
    .nimesh-govind {
        width: 100%;
        padding-left: 10px;
        zoom: 150%;
    }
    .dev-academy-student {
        width: 100%;
        padding-left: 10px;
        zoom: 150px;
    }
    #contact-title {
        width: 100%;
        padding-left: 10px;
    }
    .contact-text {
        width: 100%;
       padding-left: 10px;
    }
}

@media (max-width: 1200px) {
    #home-title {
        width: 0%;
        zoom: 75%;
        padding-left: 150px;
    }
    .centre-title {
        width: 100%;
        zoom: 53%;
        padding-left: 400px;
        text-align: left;
    }
    .nav-items {
        width: 100%;
        zoom: 90%;
        padding-right: 0px;
    }
    .main-text {
        width: 90%;
        zoom: 115%;
        text-align: center;
    }
    .nimesh-govind {
        width: 90%;
        padding-left: -10px;
        zoom: 150%;
    }
    .dev-academy-student {
        width: 90%;
    }
    #contact-title {
        width: 90%;
    }
    .contact-text {
        width: 90%;
    }

}