body {
    background-color:cornsilk;
}

#home-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #3D3C3A;
    margin: -10px;
    margin-top: -20px;
}

.centre-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    color: #3D3C3A;
    margin: 10px;
    margin-top: -100px;
}
#contact-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    color: #3D3C3A;
    margin: 10px;
    margin-top: -30px;
}
.contact-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 17px;
    text-align: center;
    color: #3D3C3A;
    margin-bottom: 50px;
}

.main-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #3D3C3A;
    font-size: 25px;
    text-align: center;
}
.nimesh-govind {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #3D3C3A;
    font-size: 25px;
    text-align: center;
}
.dev-academy-student {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #3D3C3A;
    padding-top: -20px;
    text-align: center;
    margin-top: -20px;
   
}
.page-titles {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: right;
    color: #3D3C3A;
    margin: 20px;
    padding: 0px;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: -10px;
}
.nav-items {
    display: flex;
    float: right;
    padding-right: 10em;
}
.img-profile-photo {
    width: 300px;
}
#img-profile-photo {
    padding-left: 220px;
    padding-top: 0px;
}